
*.log


node_modules/


.env
assets/
cache/

dist/
build/


.DS_Store
*.swp


.wwebjs_auth/
.wwebjs_cache/
data/known_groups.json
baileys_auth_info

# Temp directories for processing
temp/
